html,
body,
#root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  padding: 1rem;
  position: relative;
}

.App input {
  width: 1rem;
}

.task-description {
  text-align: left;
}

.form-container {
  padding: 0.4em 0;
}

.form {
  display: flex;
}

.form-input {
  margin-right: 1rem;
}

.modal {
  background-color: white;
  border: 1px solid;
  height: 65%;
  position: absolute;
  width: 85%;
  z-index: 1;
  padding: 2rem;
}

.matrix {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.matrix-inputs {
  height: 100%;
  display: grid;
}

.matrix-inputs label {
  height: 3rem;
  width: 4rem;
  margin: 1rem;
}

.matrix-inputs input {
  height: 100%;
  width: 100%;
}

.change-theme-btn {
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  height: 2rem;
  justify-content: center;
  position: absolute;
  right: 1rem;
  top: 1rem;
  width: 2rem;
}

.change-theme-btn span {
  font-size: 18px;
  position: relative;
}
